* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}
body {
    height: 100vh;
    text-align: left;
    color: #15173c;
    background: linear-gradient(#DE3163, #090c31);
}

.calculator {
    width: 350px;
    background-color: #15173c;
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 40px;
}
.display {
    width: 100%;
}

.display input {
    width: 100%;
    padding: 10px 10px;
    text-align: right;
    border: none;
    background-color: transparent;
    color: #ffff;
    font-size: 35px;
}

.display input::placeholder{
    color: #ffff;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 30px;
}
.buttons input[type="button"] {
    font-size: 20px;
    padding: 15px;
    border: none;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
  }

.buttons input[type = "button"]:hover {
    box-shadow: 0 8px 50px #00091f;
}
input[type = "button"]#equal {
    grid-row: span 2;
    background-color: #DE3163;
    border: none;
}
input[type = "button"][value = "0"] {
    grid-column: span 2;
}